
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="loans">Sistema de prestamos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="add-autor"
            routerLinkActive="active">Agregar Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-book"
            routerLinkActive="active">Agregar Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-client"
            routerLinkActive="active">Agregar
            Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-loan"
            routerLinkActive="active">Realizar Préstamo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Listas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/autors">Lista Autores</a></li>
            <li><a class="dropdown-item" href="/books">Lista Libros</a></li>
            <li><a class="dropdown-item" href="/clients">Lista Clientes</a></li>
            <li><a class="dropdown-item" href="/loans">Lista Préstamos</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="report-overdue"
                routerLinkActive="active">Lista de clientes con
                libros vencidos</a></li>
            <li><a class="dropdown-item" href="/">Lista de Préstamos
                Segmentados por Semana</a></li>
            <li><a class="dropdown-item" href="/">Lista de Préstamos
                Segmentados por Mes</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <a class="nav-link disabled align-middle"
      aria-disabled="true">Login</a>
  </div>

</nav>
<div class="container">

  <router-outlet></router-outlet>

</div>
<!-- <app-autor-list></app-autor-list>
<app-book-list></app-book-list>
<app-client-list></app-client-list>
<app-loan-list></app-loan-list> -->
