<div class="container">
  <div class="container text-center" style="margin: 30px;">
    <h3>Lista de Préstamos</h3>
  </div>

  <table class="table table-striped table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th scope="col">Libro</th>
        <th scope="col">Cliente</th>
        <th scope="col">Fecha de Inicio de préstamo</th>
        <th scope="col">Timpo de préstamo en días</th>
        <th scope="col">Estado del préstamo</th>
        <th scope="col">Fecha de creación</th>
        <th scope="col">Fecha de Actualización</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loans">
        <td>{{loan.book_id}}</td>
        <td>{{loan.client_id}}</td>
        <td>{{loan.loan_date}}</td>
        <td>{{loan.loan_days}}</td>
        <td>{{loan.status}}</td>
        <td>{{loan.created_at}}</td>
        <td>{{loan.updated_at}}</td>
        <td>
          <button (click)="editLoan(loan.id)"
            class="btn btn-warning btn-sm me-3">Editar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
